.loader {
  width: 80px;
  height: 80px;
  border: 5px dotted #6ebeff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
